
@font-face {
  font-family: 'Colaborate-Thin';
  src: url('Colaborate-Thin.eot?#iefix') format('embedded-opentype'),  url('Colaborate-Thin.otf')  format('opentype'),
	     url('Colaborate-Thin.woff') format('woff'), url('Colaborate-Thin.ttf')  format('truetype'), url('Colaborate-Thin.svg#Colaborate-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
