
@font-face {
  font-family: 'Colaborate-Medium';
  src: url('Colaborate-Medium.eot?#iefix') format('embedded-opentype'),  url('Colaborate-Medium.otf')  format('opentype'),
	     url('Colaborate-Medium.woff') format('woff'), url('Colaborate-Medium.ttf')  format('truetype'), url('Colaborate-Medium.svg#Colaborate-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
