
@font-face {
  font-family: 'Colaborate-Regular';
  src: url('Colaborate-Regular.eot?#iefix') format('embedded-opentype'),  url('Colaborate-Regular.otf')  format('opentype'),
	     url('Colaborate-Regular.woff') format('woff'), url('Colaborate-Regular.ttf')  format('truetype'), url('Colaborate-Regular.svg#Colaborate-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
